/* основные настройки сайта */
html {
  background-color: #101010;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  width: 100%;
  margin: 0 auto;
  position: relative;
  font-family: "TTNeoris";
  overflow-x: hidden;
  overflow-y: hidden;
  height: auto;
}

.mainMenu {
  display: flex;
  flex-direction: row;
  gap: 48.6vw;
  margin-left: 2.4vw;
  margin-top: 2.4vw;
}

.sections {
  display: flex;
  flex-direction: row;
  gap: 2.6vw;
  padding: 0.5vw 1.3vw;
  background-color: #fcfcfc;
  max-width: fit-content;
}

.section {
  text-decoration: none;
  color: #101010;
  font-size: 1.1vw;
}

#indexBold {
  font-weight: 600;
}

#shopBold {
  font-weight: 600;
}

#eventsBold {
  font-weight: 600;
}

#locationBold {
  font-weight: 600;
}

#gamesBold {
  font-weight: 600;
}

.mainButton {
  display: flex;
  white-space: nowrap;
  color: #101010;
  font-weight: 400;
  font-size: 1.1vw;
  background-color: #fcfcfc;
  padding: 0.5vw 1.3vw;
  text-decoration: none;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#motherPlate {
  width: 37.5vw;
  margin-left: 0.5vw;
  margin-top: -3.9vw;
}

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#runningRoad {
  width: 46.7vw;
  margin-left: -10.9vw;
  margin-top: -6.9vw;
}

#microwave {
  width: 41.8vw;
  margin-left: -19.6vw;
  margin-top: -1.44vw;
}

#coffeeMachine {
  width: 50vw;
  margin-left: 2vw;
  margin-top: -23vw;
}

#table {
  width: 57vw;
  margin-left: -17vw;
  margin-top: -18vw;
}

.scrollArrow {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  margin-left: -8vw;
  margin-top: -4vw;
}

#scroll {
  font-family: "FATResin";
  font-size: 9vw;
  font-weight: 600;
  color: #fcfcfc;
  letter-spacing: -2%;
}

#arrowUnderScroll {
  height: 3.9vw;
}

#hugeSlotsAndBolts {
  font-family: "FATResin";
  color: #fcfcfc;
  font-size: 37vw;
  max-width: 56vw;
  margin-left: 20vw;
  margin-top: -5vw;
  letter-spacing: -5%;
  text-align: center;
  line-height: 87%;
}

.cherry {
  width: 70vw;
}

#cherryMain1 {
  position: absolute;
  left: -16vw;
  top: 63vw;
  transform: rotate(131deg);
}

#cherryMain2 {
  position: absolute;
  left: 56vw;
  top: 53vw;
  transform: rotate(35deg);
}

#halftone {
  display: block;
  width: 100vw;
  height: 100vh;
}

.mainHalftone {
  display: flex;
  flex-direction: row;
  gap: 1.8vw;
}

#mainLocation {
  width: 41.5vw;
  height: 42vw;
}

#halftone {
  margin-top: 12.5vw;
  width: 50.9vw;
  height: 30.4vw;
  margin-left: -36.75vw;
}

.halftone {
  margin-left: 2.4vw;
  margin-top: 7.8vw;
}

#halftoneText {
  font-family: "FATResin";
  font-size: 6.8vw;
  font-weight: 600;
  color: #fcfcfc;
  letter-spacing: -2%;
  margin-top: -0.2vw;
  white-space: nowrap;
  line-height: 85%;
}

.posters {
  margin-top: 7.8vw;
  margin-left: 2.4vw;
}

.sectionTitle {
  color: #fcfcfc;
  font-size: 2.5vw;
  font-weight: 400;
  letter-spacing: -2%;
  margin-top: -0.2vw;
  white-space: nowrap;
  line-height: 85%;
}
